* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
 width: 100%;
}

.main{
  height: 100%;
  width: 100%;
  background-color: #000;
  display: grid;
  padding: 1em;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1em;
  grid-template-areas:  "l m m r"
              "l m m r2 "
              "l2 m m r3"
              "l3 m m r3"
  ;
}
div{
  border-radius: 1em;
}

.d1{
  grid-area: l;
  background-color: lightcoral;
}
.d2{
  grid-area: m;
  background-color: lightcoral;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: "m1 m1 m1"
                        "m2 c m3"
                        "m4 m4 m4"
  ;
  grid-gap: 1em;
}

.m1{
  grid-area: m1;
  background-color: yellow;
}
.m2{
  grid-area: m2;
  background-color: yellow;
}
.m3{
  grid-area: m3;
  background-color: yellow;
}
.m4{
  grid-area: m4;
  background-color: yellow;
}

.c{
  grid-area: c;
  background: #000;
  border-radius: 50%;
}
.d3{
  grid-area: r;
  background-color: lightcoral;
}
.d4{
  grid-area: r2;
  background-color: lightcoral;
}
.d5{
  grid-area: l2;
  background-color: lightcoral;
}
.d6{
  grid-area: l3;
  background-color: lightcoral;
}
.d7{
  grid-area: r3;
  background-color: lightcoral;
}